rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /scores/{scoreId} {
      allow read: if true;
      allow create: if request.resource.data.keys().hasOnly(['initials','score','wave','ts'])
        && request.resource.data.initials is string
        && request.resource.data.initials.size() >= 1
        && request.resource.data.initials.size() <= 3
        && request.resource.data.score is int
        && request.resource.data.score >= 0
        && request.resource.data.score <= 999999
        && request.resource.data.wave is int
        && request.resource.data.wave >= 1
        && request.resource.data.wave <= 999
        && request.resource.data.ts is int;
      allow update, delete: if false;
    }
  }
}
